{% extends "base.html" %}

{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
    <div class="row">
      <div class="large-6 large-centered columns">
          <h2>{{ object.username }}</h2>
      </div>
    </div>
    
    {% if object == request.user %}
    <div class="row">
      <div class="col-sm-12 ">
        <a class="button tiny radius" href="{% url 'users:update' %}">My Info</a>
        <a class="button tiny radius" href="{% url 'account_email' %}">E-Mail</a>
      </div>
    </div>
    {% endif %}
    
{% endblock %}